body {
margin: 0;
font-family: Arial, sans-serif;
background-image: url(https://wallpapers.com/images/featured/redwood-background-ht1hcjl40jy5k913.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
color: #ffffff;
}

.content {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 20px;
    min-height: 100vh;
}

.degree {
    font-size: 18px;
    color: #cccccc;
}

.about_me, .info {
    line-height: 1.6;
    color: #dddddd;
}

.footer {
    text-align: center;
    margin-top: 40px;
    color: #aaa;

}

#my-header {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
}

#about_me {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
}


img {
    max-width: 30%;
    height: auto;
    border: 2px solid #f2fcbe;
    margin-top: 10px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 8px;
    background-color: #00bfff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #009acd;
}